body{
  text-align: center;
  margin: 0;
}
h1{
  margin-top: 0;
  bottom: 200px;
}



.top-Container{
  background-color: #93C9D1;
  margin-bottom: 20px;
  position: relative;
  padding-top: 100px;
}

.middle-Container{
  background-color: black;
  height: 200px;
  width: 200px;

}

.bottom-Container{
  background-color: pink;
  height: 200px;
  width: 200px;

}

.pro{
  text-decoration: underline;
}

.top-cloud{
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud{
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.mountain{
  position: relative;
  top: 3px;
}
